google-generativeai
groq
requests
beautifulsoup4
PyPDF2
python-dotenv
termcolor
ollama
anthropic
markdown
numpy
fastapi
uvicorn
sqlalchemy
passlib
python-jose[cryptography]
bcrypt
duckduckgo_search
sentence-transformers
scikit-learn
numpy
